/*
*   file.css  - Used for the website in the SmallDevops module
*   Author   - 0pb
*   Link     - https://github.com/0pb/smalldevops
*   LICENSE GNU V3
*/

body {
    font-size: 0.8em;
}

main {
  width: 101%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#navbar_ {
  width: 103%;
}

#parent_body {
    /*to show the scrollbar : scrollbar-width: none;*/
    width: 100%;
    height: 100vh; /*100vh for the current window size*/
    overflow-x: hidden;
    overflow-y: hidden;
}

#child_body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0;
  padding-right: 18px; 
  box-sizing: content-box; 

}

#top_title {
  text-align: center;
}


